stages:
  - test
  - build
  - deploy

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml # gemnasium-dependency_scanning
  - template: Jobs/Secret-Detection.gitlab-ci.yml # secret_detection
  - template: Jobs/SAST.gitlab-ci.yml # semgrep-sast
  - template: Jobs/SAST-IaC.gitlab-ci.yml # kics-iac-sast

variables:
  BRANCH_NAME: "$CI_COMMIT_REF_NAME"

gemnasium-dependency_scanning:
  variables:
    DS_SCAN_PATHS: "app,environments"
    DS_MAX_DEPTH: 15
    DS_EXCLUDED_PATHS: "**/node_modules/**,**/dist/**,**/build/**"
    DS_INCLUDE_DEV_DEPENDENCIES: "true"
    DS_REMEDIATE: "false" # do not try to generate MRs with fixes

secret_detection:
  variables:
    SECRET_DETECTION_SCAN_PATHS: "app/**,environments/**"
    SECRET_DETECTION_HISTORIC_SCAN: "false" # fast per-commit scans
    SECRET_DETECTION_RULESET: "true" # enable custom rules

semgrep-sast:
  variables:
    SAST_INCLUDED_PATHS: "app/**,environments/**" # target app and Pulumi IaC code
    SAST_EXCLUDED_PATHS: "node_modules/**" # do not waste time on deps/build outputs

kics-iac-sast:
  variables:
    IAC_SCAN_PATHS: "environments,Dockerfile"# # target Pulumi IaC and app Dockerfile 
    SEARCH_MAX_DEPTH: 15
    SAST_EXCLUDED_PATHS: "node_modules/**"

test:
  stage: test
  image: node:22-alpine
  variables:
    NODE_ENV: "test"
    DATABASE_URL: "file:./test.db"
  cache: # reuse deps between pipelines
    key:
      files: [app/package-lock.json] # refresh cache when lockfile changes
    paths:
      - app/node_modules/ # cache installed modules
      - app/.npm/ # cache npm package tarballs
    policy: pull-push # pull existing cache before job; update it after completion
  before_script:
    - cd app
  script:
    - npm ci --cache .npm --prefer-offline # install deps using cached packages when available
    - npm test -- --ci # npm stops parsing flags; runs Jest in CI mode

build:
  stage: build
  image: pulumi/pulumi-nodejs:3.205.0
  environment:
    name: $BRANCH_NAME # defines the deployment environment (dev, stage, prod) so GitLab injects environment-scoped variables
  services:
    - docker:28.5.1-dind
  variables:
    DOCKER_TLS_CERTDIR: "" # disable TLS → simpler for local DinD
    DOCKER_HOST: "tcp://docker:2375"
  cache:
    key:
      files: [environments/package-lock.json]
    paths:
      - environments/node_modules/
      - environments/build/.npm/
    policy: pull-push
  before_script:
    - cd environments
    - echo "$GOOGLE_CREDENTIALS_B64" | base64 -d > ./credentials/service-account-key.json
    - export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/credentials/service-account-key.json"
    - cd build
  script:
    - npm ci --cache .npm --prefer-offline
    - pulumi stack select "$BRANCH_NAME" || pulumi stack init "$BRANCH_NAME" --non-interactive # temporary safeguard — remove 'stack init' once all env stacks are created
    - pulumi up --yes
    - echo "IMAGE_NAME=$(pulumi stack output imageName)" > build.env
    - echo "IMAGE_DIGEST=$(pulumi stack output repoDigest)" >> build.env
  artifacts: # define files to be passed between jobs (e.g. env vars, binaries, reports)
    reports:
      dotenv: environments/build/build.env
  only: # run this job only for these branches (dev, stage, prod)
    - dev
    - stage
    - prod

deploy:
  stage: deploy
  image: pulumi/pulumi-nodejs:3.205.0
  environment:
    name: $BRANCH_NAME
  needs:
    - job: build # allows this job to start as soon as 'build' finishes and access its artifacts
  cache:
    key:
      files: [environments/package-lock.json]
    paths:
      - environments/node_modules/
      - environments/deploy/.npm/
    policy: pull-push
  before_script:
    - cd environments
    - echo "$GOOGLE_CREDENTIALS_B64" | base64 -d > ./credentials/service-account-key.json
    - export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/credentials/service-account-key.json"
    - cd deploy
  script:
    - npm ci --cache .npm --prefer-offline
    - pulumi stack select "$BRANCH_NAME" || pulumi stack init "$BRANCH_NAME" --non-interactive # temporary safeguard — remove 'stack init' once all env stacks are created
    - pulumi up --yes
    - PROJECT=$(pulumi stack output project)
    - REGION=$(pulumi stack output region)
    - JOB_NAME=$(pulumi stack output seedJobName)
    - echo "GCP_PROJECT=$PROJECT" > deploy.env
    - echo "GCP_REGION=$REGION" >> deploy.env
    - echo "SEED_JOB_NAME=$JOB_NAME" >> deploy.env
  artifacts:
    reports:
      dotenv: environments/deploy/deploy.env
  only:
    - dev
    - stage
    - prod

seed: # triggers a Cloud Run job that inserts fake data into the database
  stage: deploy
  image: google/cloud-sdk:546.0.0-slim
  environment:
    name: $BRANCH_NAME
  needs:
    - job: deploy
  before_script:
    - cd environments
    - echo "$GOOGLE_CREDENTIALS_B64" | base64 -d > ./credentials/service-account-key.json
    - gcloud auth activate-service-account --key-file=./credentials/service-account-key.json
    - gcloud config set project "$GCP_PROJECT"
  script:
    - gcloud run jobs execute "$SEED_JOB_NAME" --region="$GCP_REGION" --wait
  allow_failure: false # fail pipeline if seeding fails
  when: on_success # run automatically after successful deploy
  only:
    - dev
    - stage
