# .gitlab/secret-detection-ruleset.toml

[[rules]]
id = "hardcoded-password-js-ts"
description = "Detects hardcoded passwords in JavaScript and TypeScript files"
regex = '''(?i)\b(?:dbpassword|password|passwd|pwd)\b\s*[:=]\s*["'](?P<secret>[^"'\n]{8,})["']'''
path = '''\.(js|jsx|ts|tsx)$'''
entropy = 0
keywords = ["dbpassword","password","passwd","pwd"]
