title = "Custom rules to extend GitLab Secret Detection"

[[rules]]
id = "dbpassword-detection"
description = "Catch dbPassword assignments"
regex = '''(?i)\b(dbpassword)\b\s*[:=]\s*["'][^"'\n]{8,}["']'''
path = '''\.(js|ts)$'''
entropy = 0
tags = ["password","assignment","db"]
